<!DOCTYPE html>
<html>
<head>
    <title>uploadimg.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <script src="https://cdn.wincustomer.net/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        /*
         * 上传文件
         */
        function submitFunction() {
            //这里唯一需要注意的就是这个form-add的id
            var formData = new FormData($("#form-add")[0]);
            formData.append("url","www.baidu.com");
            $.ajax({
                //接口地址
                url: '/testuploadimg' ,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //成功的回调
                    alert( "success");
                    document.getElementById("show").innerHTML="success";



                },
                error: function (returndata) {
                    //请求异常的回调
                    // modals.warn("网络访问失败，请稍后重试!");
                }
            });
        }

        function sendTxt() {
            var openid = "12321321";
            console.log('openid:'+openid, openid instanceof  Array);
            if(openid.length>0){
                var sendDate = JSON.stringify({
                    "touser":openid,
                    "msgtype": "text",
                    "text": { "content": "23123"}
                });
                console.log("sendDate",sendDate);
                if(true){
                    $.ajax({
                        url:"/pushMessage",
                        type: "POST",
                        data: {data:sendDate, url:"https://api.weixin.qq.com/cgi-bin/message/mass/send?access_token="+"token" },
                        success: function (data) {
                            var obj = JSON.parse(data);
                            alert("成功");
                            obj.errmsg=="send job submission success"&&alert('推送成功');
                            console.log('推送文本: '+JSON.stringify(obj));
                            console.log(obj.errmsg);
                        },
                        error: function (returndata) {
                            //请求异常的回调
                            alert("失败"+returndata);
                        }
                    });
                }else {
                    alert('请输入token')
                }

            }else {
                alert('请输入推送人openid');
            }
        }
    </script>

</head>

<body>
<form enctype="multipart/form-data" method="post" action="/testuploadimg">
    图片<input type="file" name="file"/>
    <input type="submit" value="上传"/>
</form>

<a id="show"></a>
<form id="uploadfiles" enctype="multipart/form-data">
    <input type="file" multiple="multiple" id="file_upload" name="file" />
    <input type="button" value="上传" onclick="" />
</form>

//定义好id，ajax会用到
<form id="form-add">
<!--    //单选项 （解释：name要与接口的参数名对应起来，value是对应值）
    <input type="radio" name="imageNameIndex"  value="1"> 一号位
    <input type="radio" name="imageNameIndex"  value="2"> 二号位
    <input type="radio" name="imageNameIndex"  value="3"> 二号位

    //文字 （解释：name要与接口的参数名对应起来）
    <input type="text" name="url">-->

    <!--//文件 （解释：name要与接口的参数名对应起来）-->
    <input type="file" name="file">

   <!-- 提交 （解释：这个按钮的唯一作用就是触发提交的js方法）-->
    <button type="button"  onclick="sendTxt()">提交</button>
</form>
</body>
</html>
